.card {
    background-color:#ffffff	;
}

.btn1{
    background-color: #67b8ff;
}
.btn2 {
    background-color:#4B0082		;
}

body{
    
}
.card-size{
    height: 450px;
    width: 500px;
    margin-left: 30%;

}