<mat-toolbar color="primary">
  <button mat-button  class="btn" (click)="onLogin()"><mat-icon style="color:aliceblue;">home</mat-icon></button>

  <span style="margin:5px; color:aliceblue; font-size: 26px;" class="padding-bottom-3 inline-block "><b>Employee Portal</b></span>
 </mat-toolbar>
<br>
<br>
<div class="container card4"  layout="row" layout-align="center">
  <h3>LOGIN</h3>
</div>
<div class="card-body container card2 mat-elevation-z1" style="width: auto; height: auto;">
  <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
    <input type="text" name="username" #email="ngModel" [(ngModel)]="model.username" placeholder="Username"  required
      [ngClass]="{'invalid-textbox' :signInForm.submitted }">
    <div *ngIf="signInForm.submitted && email.errors?.pattern">
      <label class="validation-message">Invalid email address.</label>
    </div>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
      [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
      <label class="validation-message">Minimum 4 characters.</label>
    </div>
    <div class=card3>
      <input type="submit" value="Sign In">

    </div>
  </form>
  <!-- Error message -->
  <div class="alert align1" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>

</div>
